@import'../product1/product1.component.scss';
.wrapper{
    .card{
        .image{
            grid-column: 3/11;
            grid-row: 2/9;
            img{
                height: 70%;
                width: 70%;
            }
        }
    }
}